@import '../../variables.scss';

.Menu {
    height: $menu-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $menu-bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;

    .Nav {
        display: none;
    }
}



@media (min-width: $bp2) {
    .Menu {
        height: 100%;
        width: $menu-width;
    }

    .Nav {
        display: block;
    }
}