@import '../../../../variables.scss';

.DrawerToggle {
    width: 2.5rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.6rem 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 0.2rem;
    background-color: white;
}

@media (min-width: $bp2) {
    .DrawerToggle {
        display: none;
    }
}