.ErrorContainer {
    display: flex;
}

.ErrorMessage {
    margin-left: 2rem;
    white-space: pre-line;
    line-height: 1.3rem;
}

.BrokenComponent {
    width: 8rem;
    height: 8rem;
    background-color: #e7acac;
    position: relative;
    border: 2px solid #666;
    text-align: center;
    padding: 3rem 1rem;
    margin: 1rem;
}