@import '../../variables.scss';

.Day {
    margin-bottom: 2rem;

    .Header {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        padding: 0.5rem 0 1.5rem 0;

        .Title {
            margin: 0;
            white-space: nowrap;
            font-size: 1.875rem;
            color: #333333;
            font-weight: 700;
        }

        .SubTitle {
            white-space: nowrap;
            flex-grow: 1;
            margin: 0 2rem;
            color: #a6a6a6;
            font-size: 1rem;
        }

        .Summary {
            display: flex;
            flex-wrap: nowrap;
            margin: 0.5rem 0;

            .Icon {
                margin-right: 1rem;
                display: inline-flex;
                align-items: center;

                .IconImg {
                    //-->background-image is set inline in JS
                    border-radius: 50%;
                    width: 1.25rem;
                    height: 1.25rem;
                    background-color: #2a2a2a;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

            }

            .Icon:last-child {
                margin-right: 0;
            }

            .Icon:after {
                content: attr(data-text);
                font-size: 0.8125rem;
                color: #a6a6a6;
                margin-left: 0.24rem;
            }
        }
    }


    .Posts {
        display: flex;
        flex-wrap: wrap;

        .CardAdd {
            animation: addingCard 0.8s ease forwards;
        }

        .CardDelete {
            animation: deletingCard 0.8s ease forwards;
        }
    }
}

@keyframes addingCard {
    0% {
        opacity: 0;
        width: 0;
        min-width: 0;
        padding: 0;
    }

    90% {
        opacity: 0;
    }
}

@keyframes deletingCard {
    10% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        width: 0;
        min-width: 0;
        padding: 0;
    }
}