@import '../../variables.scss';


.PlanPage {
    font-family: "Stem", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    background-color: $bg-color;
    min-height: 100vh;
    padding: calc(#{$menu-height} + 1.5rem) 1.5rem 1.5rem 1.5rem;
    color: #2a2a2a;
    box-sizing: border-box;
    
    * {
        box-sizing: border-box;
    }
}

@media (min-width: $bp2) {
    .PlanPage {
        padding-top: 1.5rem;
    }
}