@import '../../../variables.scss';

.Post,
.PostSlot {
    min-width: $card-size;
    flex-grow: 1;
    height: $card-size;
    padding: $card-padding;
    margin: 0 -1px -1px 0;
    cursor: pointer;
}

.Post:focus,
.PostSlot:focus {
    transform: scale(1.1);
    outline: 0;
    z-index: 2;
}

@media (min-width: $bp1) {

    .Post,
    .PostSlot {
        width: $card-size;
        flex-grow: 0;
    }
}


.Post {
    background-color: white;
    border: 1px solid $border-color;
    z-index: 1;

    .PostHeader {
        display: flex;
        align-items: center;
        height: $small-social-icon-size;

        .PostTime {
            display: block;
            font-size: 0.8125rem;
            font-weight: 700;
            flex-grow: 1;
        }

        .PostIcons {
            display: flex;
            align-items: baseline;

            div[data-role=social-icon] {
                margin-right: 0.2rem;
            }

            div[data-role=social-icon]:last-child {
                margin-right: 0;
            }
        }
    }

    .PostContent {
        position: relative;
        font-size: 0.8125rem;
        line-height: 1.125rem;
        color: #2a2a2a;
        padding-top: 0.5rem;
        height: calc(100% - #{$small-social-icon-size});
        word-wrap: break-word;
        overflow: hidden;

        &:after {
            content: ' ';
            position: absolute;
            height: 2rem;
            width: 100%;
            bottom: -3px;
            left: 0;
            background-image: linear-gradient(rgba(255, 255, 255, 0), white 90%);
        }

    }

    &:focus {
        .PostIcons {
            div[data-role=social-icon] {
                margin-right: 0.5rem;
            }

            div[data-role=social-curtain] {
                visibility: hidden;
            }
        }
    }
}

.PostSlot {
    border: 1px dashed $border-color;
    background-color: $bg-color;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .PostTime {
        font-weight: 700;
    }

    .PostContent {
        text-align: center;
    }

    .PlusIcon {
        width: 0.75rem;
        margin-top: 0.75rem;
    }
}