@import '../../../variables.scss';

.Icon {
    position: relative;
    background-size: cover;
    background-position: center center;
    overflow: hidden;

    .Miniature {
        //network icon in the corner
        position: absolute;
        bottom: 0;
        right: 0;
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;
    }

    .Curtain {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
    }

    &.Static {
        width: $small-social-icon-size;
        height: $small-social-icon-size;

        .Miniature {
            width: 50%;
            height: 50%;
        }

        .Curtain {
            //black-white icon above
            background-color: white;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-origin: content-box;
            padding: 15%;
        }
    }

    &.Dynamic {
        width: $big-social-icon-size;
        height: $big-social-icon-size;
        cursor: pointer;

        .Miniature {
            width: 33%;
            height: 33%;
        }

        &:focus {
            box-shadow: 0 0 0 2px #0cbd97;
            outline: 0;
        }
    }
}