.FormWhenToPublish {
    font-size: 0.8125rem;
    line-height: 1.4375rem;

    .FormDateSelect,
    .FormHourSelect,
    .FormMinuteSelect {
        height: 1.2rem;
        padding: 0 1.2rem 0 0.5rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-family: inherit;
        font-size: 1rem;
        border: none;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        height: 1.875rem;
        appearance: none;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
        -webkit-background-size: 1rem 1rem;
        background-size: 1rem;
        background-repeat: no-repeat;
        background-position: calc(100% - 0.1rem) 50%;
        margin: 0 0.5rem;

        option:disabled{
            background-color: #dcdcdc;
        }
    }

    .FormDateSelect {
        margin-bottom: 0.75rem;
    }

    .FormMinuteSelect {
        margin-left: 0;
    }

    .FormTZ {
        font-size: 0.6875rem;
        color: #a6a6a6;
    }

    .NoWrap {
        margin-bottom: 0.75rem;
        display: inline-block;
        white-space: nowrap;
    }
}

.FormNetworks {
    border: 1px solid #e3e3e3;
    height: 5rem;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.25rem;

    .Icon {
        margin-right: 0.8rem;
    }

    .Icon:last-child {
        margin-right: 0;
    }
}

.FormContent {
    font-family: inherit;
    border: 1px solid #e3e3e3;
    border-top: none;
    width: 100%;
    height: 10.625rem;
    font-size: 1rem;
    line-height: 1.4375rem;
    padding: 0.8rem;
    resize: vertical;

    ::placeholder {
        color: #cdcccc;
    }
}


.FormFooter {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 6.875rem;

    .FormSubmit,
    .FormDelete {
        font-size: 0.8125rem;
        font-weight: 700;
        border: none;
        border-radius: 3px;
        background-color: #dcdcdc;
        cursor: pointer;
        height: 3.125rem;
        padding: 0 1rem;
        margin-left: 3rem;
    }

    .FormSubmit:not(:disabled):hover,
    .FormDelete:not(:disabled):hover {
        background-color: #ccc;
    }

    .FormSubmit:disabled,
    .FormDelete:disabled {
        cursor: default;
        color: #d5d5d5;
        background-color: #eaeaea;
    }
}