@import '../../../variables.scss';

.SideDrawer {
    position: fixed;
    width: $menu-width;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: $menu-bg-color;
    padding: 2rem 1rem;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}