@font-face {
    font-family: "Stem";
    src: url("./assets/fonts/STM55.woff2") format("woff2"),
        url("./assets/fonts/STM55.woff") format("woff"),
        url("./assets/fonts/STM55.otf") format("truetype");
}

@font-face {
    font-family: "Stem";
    src: url("./assets/fonts/STM75.woff2") format("woff2"),
        url("./assets/fonts/STM75.woff") format("woff"),
        url("./assets/fonts/STM75.otf") format("truetype");
    font-weight: 700;
}


body {
    margin: 0;
    padding: 0;
}