//content
$bg-color: #f4f4f4;
$border-color: #a6a6a6;

//menu
$menu-bg-color: #363636;
$menu-width: 11.25rem;
$menu-height: 3.5rem;

//cards
$card-size: 12.5rem;
$card-padding: 1rem;

//icons
$small-social-icon-size: 1.25rem;
$big-social-icon-size: 2.5rem;

//breakpoints 
$bp1: 28.9375em;
$bp2: 52.625em;
$bp3: 68em;